  
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>The Point Community/ Graphic Designer </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> November 2020 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Lead in the design, development and implementation od the graphic, layout and production communication materials while helping my coworkers as well </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> CUNY Cultural Summer Corp/ Graphic designer  </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> June 2020- July 2020 </h6>
          <p>Supervise the advertising and flyers of all graphics materials in order to ensure quality and accuracy of the design </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>CUNY Census Corp / Creative Development employee </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> January 2020 - August 2020</h6>
          <p>Managed up to 5 projects ot tasks at a given time while under pressure to meet weekly deadline  </p><br>
        </div>
      </div>